
@media only screen
and (min-width : 768px)
and (min-height: 568px){
  .carousel-container {
    display: grid;
    grid-template:
      "prev carousel next"/
        1.5vw   80vw     1.5vw;
    justify-content: space-evenly;
    align-content: center;
    height: 100%;

  }
  .swiper-slide{
    border-left: .1px solid #cacaca;
  }

}

@media only screen
and (max-width : 768px), (max-height : 568px){
  .carousel-container {
    display: grid;
    grid-template:
      "carousel"
      "pagination"/
        90vw;
    justify-content: center;
    height: 8em;
  }
  .swiper-slide{
    border-left: none;
  }
}

.carousel-wrapper{
  grid-area: carousel;
  height: 100%;
  width: 100%;
}

.pagination{
  grid-area: pagination;
}

.carousel-prev {
  grid-area: prev;
  color: #1a6fc3;
  position: relative;
  display: flex;
  font-size: 1.5em;
  justify-content: center;
  justify-self: flex-end;
  align-items: center;
  background: none;
  outline: none;

  &::before{
    content: "\2329";
  }
}
.carousel-next{
  grid-area: next;
  color: #1a6fc3;
  position: relative;
  display: flex;
  font-size: 1.5em;
  justify-content: center;
  justify-self: flex-start;
  align-items: center;
  background: none;
  outline: none;

  &::before{
    content: "\232A";
  }
}

.swiper-slide{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  overflow: hidden !important;
  cursor: pointer;
  padding: 0 0 0 .5em;
  user-select: none;
  max-height: 3.5em !important;


  .mat-icon{
        height: 100%;
        min-width: 1em;
        font-size: 3em;
        min-height: 1em;
      }

  div{
    padding: 0 .5em 0 .5em;
    font-size: 0.95em;
    text-align: center;
    width: 100%;
  }

  &:first-child{
    border: none;
  }
  &:last-child{
  }

  &:hover {
    //background-color: rgba(133, 188, 210, 0.65);
    transform: scale(1.01);
    transition: .1s;
    font-weight: 500;
    //text-shadow: 0 0 .1px rgba(4, 16, 28, 0.8);
  }
}
