
 $white: #fff;
 $blue: #2594ed;
 $red: #E81111;
 $green: #0FB91A;
 $yellow: #F1C40F;
 $purple: #9D156B;
 $blue-d2: #1B4BBD;
 $pink: #E61389;
 $orange: #E67E22;
 $blue-d3: #48749F;
 $purple-l1: #9B59B6;
 $blue-d1: #1a6fc3;
 $grey: #9fa39a;
 $grey-l1: #bdbdbd;
 $blue-l1: #0088ff;
